.top-past-achievement {
    margin:100px 9%;
}

.top-achievement-list div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding: 10px 0;
    border-bottom: black 1px dotted;
}

.top-achievement-list li {
    font-size: 35px;
}


.top-achievement-list {
    margin-bottom: 30px;
}

.top-achievement-list span,
.top-achievement-list section {
    font-size: 45px;
    font-weight: 600;
}

.achievement-list section {
    margin-top: 40px;
}

.past-achievement{
    margin: 50px auto;
}
